<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title></title>
</head>
<body>
    <div id="search-component">
        <h4>Hero Search</h4>
        <input #searchBox id="search-box" (keyup)="search(searchBox.value)" />
        <div>
            <div *ngFor="let hero of heroes | async"
                 (click)="gotoDetail(hero)" class="search-result">
                {{hero.name}}
            </div>
        </div>
    </div>
</body>
</html>
